---
import Layout from '../layouts/Layout.astro';

---

<Layout title="blog">
    <div class="flex-grow flex flex-col justify-center text-center place-content-center">
        <h1 class="text-8xl font-bold">WIP</h1>
        <h2 class="text-2xl">Under construction...</h2>
        <p class="text-center pt-4 pb-8 px-8">
            The blog's still being put together, come back in the future!
        </p>
        <a class="bg-neutral-800 hover:bg-neutral-700 transition-all ease-in-out w-fit px-8 py-1 mx-auto rounded-sm" href="/">Back to home →</a>
    </div>
</Layout>