---
import Layout from '../layouts/Layout.astro';

---

<Layout title="blog">
    <div class="flex-grow flex flex-col justify-center text-center place-content-center pb-8">
        <h1 class="text-6xl font-bold">Get in touch!</h1>
        <p class="text-center pt-4 pb-2 px-8">
            Feel free to reach out for a chat whether there's somewhere you've seen me, you're looking for help, or you want to talk about opportunities; I'll always be happy to talk.
        </p>
        <h2 class="inline-block text-3xl underline">
            <a aria-label={"Email link to contact@itisapril.dev"} class=" cursor-pointer hover:text-sky-600" href="mailto:contact@itisapril.dev" target="_blank">
                contact@itisapril.dev
            </a>
        </h2>
    </div>
</Layout>