---
import Layout from '../layouts/Layout.astro';
import PositionSection from "../components/PositionSection.tsx";
import ProjectSection from "../components/ProjectSection.tsx";

const isDev = import.meta.env.IS_DEV;
---

<Layout title="home">
	<main class="flex-grow">
		<p>
			hey, i’m april!
			i’m a keen student and developer
			interested in software development, data, ML, and UX.
			i like building stuff and solving problems.
		</p>

		<PositionSection client:only="solid-js" isDev={isDev}/>

		<ProjectSection client:only="solid-js" isDev={isDev}/>
	</main>
</Layout>