---
import GitHub from "./links/GitHub.astro";
import LinkedIn from './links/LinkedIn.astro';

---

<footer class="flex flex-row justify-between flex-wrap text-neutral-400">
  <span>April Miller</span>
  <div class="flex flex-row gap-4 [&>*]:aspect-square [&>*]:w-6">
    <GitHub />
    <LinkedIn />
  </div>
</footer>