---
import '../styles/util.css';
interface Props {
  link: string,
  content: string
}

const { link, content } = Astro.props;
---

<a href={link} class="grey-hover ease-in-out transition-all">
  <span>{content}</span>
</a>